body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-family: Roboto;
    margin:0px;
}
.header-logo{
    flex:1 1 200px;
    width:200px
}
.header {
    display:flex;
    flex-direction: row;
    color:white;
    background-color: #1f2937;
    padding:40px 100px;
}
.header-nav {
    display:flex;
    gap: 20px;
    justify-content:flex-end;
    align-items: center;
    flex:2
}
.header-links {
    list-style-type: none;
    padding:0;
}
h1 {
    font-size: 48px; 
    font-weight: 900;
}
h2 {
    color: #1f2937;
    font-weight: 900;
    font-size:36px

}
.top-content {
    display:flex;
    align-items:center;
    padding:20px 100px;
    color:white;
    background-color: #1f2937;
}

.left{
    display:flex;
    flex-direction: column;
    flex:1 1 auto;
}
.bars {
    display:flex;
    flex:1 1 0;
    width: 100px;
    align-items: center;
}


button {
    background-color: #3882f6;
    flex-grow: 0;
    align-self:flex-start;
    padding:10px;
    border-radius:10px;
    color:white;
    font-size: 20px
}

.cta > button {
border-color: white;
border-width: 3px;
align-self: center; 

}

.info-content {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:40px 200px;
}
.info-container {
    display:flex;
    justify-content: center;
    gap: 30px;
    flex:1;
    
}
.info-item {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.info-item > img {
    display:flex;
    border: 3px solid blue;
    border-radius: 5px;
    flex:1;
    width:100%;
    height:auto;
    
}

.info-item>.text {
    display:flex;
    justify-content: center;
    flex:1;
    flex-wrap:wrap;
    font-size: 18px;
}

.quote {
    padding: 80px 200px;
    background-color: lightgrey;
}

.quote>.text {
    font-size: 40px;
    font-style: italic;
}
.quote>.signed {
    font-style: italic;
    font-weight:900;
    text-align: right;
}

.cta {
    display:flex;
    margin:40px 120px;
    background-color: #3882f6;
    padding: 20px 80px;
    border-radius: 5px;
    align-items: center;
}
.cta > .text {
    flex:3;
    color:white;
}
.button-holder {
    flex:1
}

